<!-- <h5>Kiralama Bilgileri</h5>
<table class="table">
    <thead>
        <th>İsim</th>
        <th>Soyisim</th>
        <th>Marka</th>
        <th>Renk</th>
    </thead>
    <tr *ngFor = "let item of rentalDetails">
        <td>{{item.firstName}}</td>
        <td>{{item.lastName}}</td>
        <td>{{item.brandName}}</td>
        <td>{{item.colorName}}</td>
    </tr>
</table> -->
<h1>Kirala</h1>
<form [formGroup] = "rentForm"  (ngSubmit)="addRent()">
    <div class="mb-3">
      <label for="firstName" required minlength="1" class="form-label">Adınız</label>
      <input  type="text" formControlName="firstName"class="form-control" >
    </div>
    <div class="mb-3">
      <label for="lastName" required minlength="1" class="form-label">Soyadınız</label>
      <input  type="text" formControlName="lastName" class="form-control" >
    </div>
    <div class="mb-3">
        <label for="email" required minlength="10" class="form-label">E-posta adresiniz</label>
        <input type="email" formControlName="email"  class="form-control" >
    </div>
    <div class="mb-3">
        <label for="rentDate" required class="form-label">Kiralamak istediğiniz tarih : </label>
        <input  type="date" formControlName="rentDate" class="form-control" >
    </div>
    <div class="mb-3">
        <label for="returnDate"  required class="form-label">Arabayı getireceğiniz tarih : </label>
        <input type="date" formControlName="returnDate" class="form-control">
    </div>
    <div>
        <label for="carId"  class="form-label"></label>
        <input type="hidden" formControlName="carId" class="form-control">
    </div>
    <button type="submit"  class="btn btn-danger">Kontrol Et</button>
  </form> 