<!-- <h5>Kiralama Bilgileri</h5>
<table class="table">
    <thead>
        <th>İsim</th>
        <th>Soyisim</th>
        <th>Marka</th>
        <th>Renk</th>
    </thead>
    <tr *ngFor = "let item of rentalDetails">
        <td>{{item.firstName}}</td>
        <td>{{item.lastName}}</td>
        <td>{{item.brandName}}</td>
        <td>{{item.colorName}}</td>
    </tr>
</table> -->
<h1>Kirala</h1>
<form [formGroup] = "rentForm" (ngSubmit)="addRent()">
    <div class="mb-3">
      <label for="firstName" class="form-label">Adınız</label>
      <input  type="text" formControlName="firstName"class="form-control">
    </div>
    <div class="mb-3">
      <label for="lastName" class="form-label">Soyadınız</label>
      <input  type="text" formControlName="lastName" class="form-control">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">E-posta adresiniz</label>
        <input type="email" formControlName="email"  class="form-control">
    </div>
    <div class="mb-3">
        <label for="rentDate" class="form-label">Kiralamak istediğiniz tarih : </label>
        <input  type="date" formControlName="rentDate" class="form-control" >
    </div>
    <div class="mb-3">
        <label for="returnDate"  class="form-label">Arabayı getireceğiniz tarih : </label>
        <input type="date" formControlName="returnDate" class="form-control">
    </div>
    <div class="mb-3">
        <label for="carId"  class="form-label">Araba Id : </label>
        <input type="number" formControlName="carId" class="form-control">
    </div>
    <button type="submit" [routerLink]="['payment']" class="btn btn-danger">Kirala</button>
  </form>