 <!-- <ul class="list-group">
    <li [class]="getCurrentDetails(car)" *ngFor="let car of details">{{car.brand}}</li>
    <li [class]="getCurrentDetails(car)" *ngFor="let car of details">{{car.name}}</li>
    <li [class]="getCurrentDetails(car)" *ngFor="let car of details">{{car.color}}</li>
    <li [class]="getCurrentDetails(car)" *ngFor="let car of details">{{car.dailyPrice}}</li>
</ul> -->


 <table class="table">
   <thead>
     <th>Marka</th>
     <th>Model</th>
     <th>Renk</th>
     <th>Fiyat</th>
   </thead>
   <tr *ngFor="let car of details">
     <td>{{car.brand}}</td>
     <td>{{car.name}}</td>
     <td>{{car.color}}</td>
     <td>{{car.dailyPrice}}</td>
     <td><button type="button" [class]="getButtonClass(car)"  (click)="setCurrentCar(car)"
      [routerLink]="['car-detail-page/',car.id]">İncele</button></td>
   </tr>
   
   
